@charset "UTF-8";

/*ウィンドウ幅が901px以上の場合に適用するCSS*/
@media screen and (min-width:901px)
{

    * {
        margin: 0;
        padding: 0;
    }
    
    .flexbox {
        display: flex;
    }

    .left-box {
        position: fixed;
        top: 0;
        width: 5%;
        background-color: #1C1C1C;
    }
    
    /*ハンバーガーメニュー*/#humMenu {
        width: 5%;
        height: 5vw;
        background-color: #1C1C1C;
    }
 
    #humCheck, #humClose { display:none; }
    #humOpen {
    display: block;
    padding-top: 0.6vw;
    padding-left: 0.9vw;
    cursor: pointer;
    }

    #humOpen:hover {
    opacity: 0.5;
    }
    #humOpen img {
        display: block;
        width: 50px;
        height: 50px;
    }
    #humClose, nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    }
    #humClose {
    z-index: 2;
    width: 100%;
    background: ;<!--メニュー表示した時の右側の色-->
    opacity: 0.8;
    transition: 0.5s;
    }
    nav {
    z-index: 3;
    width: 220px;
    background-color: #0B1013;<!--メニュー表示した時の左側の色-->
    opacity: 0.4;
    transition: 0.5s;
    transform: translateX(-100%); /*左右の移動距離*/
    }
    #humCheck:checked ~ #humClose { display: block; }
    #humCheck:checked ~ nav {
    transform: translateX(0);
    }
    nav ul{
    overflow: hidden; /*要素のはみ出た部分が隠れる*/
    list-style: none;
    }
    nav li{
    padding: 15px 0;
    margin: 10px 0;
    }
    nav li:hover{
    opacity: 0.5; /*透過度*/
    }
    nav li a{ /*ハンバーガーメニューの文字*/
    text-decoration: none;
    font-size: 2vw;
    color: crimson;
    font-family: 'Playfair Display SC', serif;
    }
    /*ハンバーガーメニュー*/
    
    /*縦文字*/
    .title-box {
        width: 5vw;
        height: 37vw;
        color: aliceblue;
        text-align: center;
        font-family: 'Cinzel Decorative', cursive;
        writing-mode: tb-rl;
        background-color: #1C1C1C;
    }
    
    /*店名下線部からした*/
    .title-box p {
        font-size: 1.8vw;
    }
    
    /*トップ画像*/
    .box1 {
        width: 95%;
        height: 42vw;
        margin-left: auto;
    }
    
    .top-image {
        width: 100%;
        height: 42vw;
        background-image: url(../images/topimage.jpg);
        background-size: contain;
        background-attachment: fixed;
        
    }
     /*背景を固定化*/
    
    /*店アイコン*/
    .box1 img {
        width: 10vw;
        margin-top: 1vw;
        margin-left: 84vw;
    }
    
    /*店名*/
    .box1 h1 {
        width: 20vw;
        margin-top: 5.5vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 6vw;
        font-weight: 600;
        line-height: 0.8;
        text-shadow: 5px 5px 5px dimgrey;
        /*横に1px・縦に2px・ぼかし3px・影の色#808080*/
        color: crimson;
        border: 3px solid #AA0000;
        font-family: 'Playfair Display SC', serif;
    }
    
    /*営業時間*/
    .box1 p {
        width: 20vw;
        margin-top: 6.8vw;
        padding-left: 1vw;
        font-size: 2vw;
        font-weight: 400;
        color: aliceblue;
        font-family: 'Playfair Display SC', serif;
    }
    
    main section {
        display: flex;
    }

    .box7 {
        width: 95%;
        height: 20vw;
        margin-left: auto;
    }
    
    .box7-title {
        width: 45vw;
        height: 20vw;
        background-color: #0B1013;
    }
    
    .flame7 {
        display: flex;
        width: 4vw;
        height: 4vw;
    }
    
    .flame7 img:nth-child(1){
        margin-right: 11vw;
        height: 10vw;
    }
    
    .flame7 img:nth-child(2){
        margin-left: 11vw;
        height: 10vw;
    }

    
    .box7-title h2 {
        font-size: 2vw;
        font-weight: 400;
        text-align: center;
        color: aliceblue;
        font-family: 'Playfair Display SC', serif;
    }
    
    .box7-title p {
        font-size: 1vw;
        font-weight: 300;
        text-align: center;
        color: aliceblue;
        font-family: 'Playfair Display SC', serif;
    }
    .box7-title address {
        font-size: 1vw;
        font-weight: 300;
        text-align: center;
        color: aliceblue;
        font-family: 'Playfair Display SC', serif;
    }
    
    .box7-image {
        width: 55vw;
        height: 20vw;
    }
    
    .box7-image iframe {
        width: 100%;
        height: 20vw;
    }
    
    /*アイコン*/
    .icon-box {
        width: 11vw;
        margin-top: 2vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    .icon-box a {
        font-size: 2.5vw;
        color: #111;
        transition: 1s;
    }
    
    .icon-box a:hover {
        color: crimson;
        transition: 1s;
    }
    
    .icon-box a:nth-child(2) {
        margin-left: 0.82vw;
        margin-right: 0.82vw;
    }
    
    
    /*フッター*/
    footer {
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    
    footer p {
        text-align: center;
        font-size: 0.8vw;
    }
}
