@charset "UTF-8";

/*ウィンドウ幅が901px以上の場合に適用するCSS*/
@media screen and (min-width:901px)
{

    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: #0B1013;
    }
    
    .flexbox {
        display: flex;
    }

    .left-box {
        position: fixed;
        top: 0;
        width: 5%;
        background-color: #0B1013;
    }
    
    /*ハンバーガーメニュー*/#humMenu {
        width: 5%;
        height: 5vw;
        background-color: #0B1013;
    }
 
    #humCheck, #humClose { display:none; }
    #humOpen {
    display: block;
    padding-top: 0.2vw;
    padding-left: 0.75vw;
    cursor: pointer;
    }

    #humOpen:hover {
    opacity: 0.5;
    }
    #humOpen img {
        display: block;
        width: 50px;
        height: 50px;
    }
    #humClose, nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    }
    #humClose {
    z-index: 2;
    width: 100%;
    background: ;<!--メニュー表示した時の右側の色-->
    opacity: 0.8;
    transition: 0.5s;
    }
    nav {
    z-index: 3;
    width: 220px;
    background-color: #0B1013;<!--メニュー表示した時の左側の色-->
    opacity: 0.4;
    transition: 0.5s;
    transform: translateX(-100%); /*左右の移動距離*/
    }
    #humCheck:checked ~ #humClose { display: block; }
    #humCheck:checked ~ nav {
    transform: translateX(0);
    }
    nav ul{
    overflow: hidden; /*要素のはみ出た部分が隠れる*/
    list-style: none;
    }
    nav li{
    padding: 15px 0;
    margin: 10px 0;
    }
    nav li:hover{
    opacity: 0.5; /*透過度*/
    }
    nav li a{ /*ハンバーガーメニューの文字*/
    text-decoration: none;
    font-size: 2vw;
    color: crimson;
    font-family: 'Playfair Display SC', serif;
    }
    /*ハンバーガーメニュー*/
    
    /*縦文字*/
    .title-box {
        width: 5vw;
        height: 37vw;
        color: aliceblue;
        text-align: center;
        font-family: 'Cinzel Decorative', cursive;
        writing-mode: tb-rl;
        background-color: #0B1013;
    }
    
    /*店名下線部からした*/
    .title-box p {
        font-size: 1.8vw;
    }
    
    /*トップ画像*/
    .box1 {
        width: 95%;
        height: 42vw;
        margin-left: auto;
    }
    
    .top-image {
        width: 100%;
        height: 42vw;
        background-image: url(../images/topimage.jpg);
        background-size: contain;
        background-attachment: fixed;
        
    }
     /*背景を固定化*/
    
    /*店アイコン*/
    .box1 img {
        width: 10vw;
        margin-top: 1vw;
        margin-left: 84vw;
    }
    
    /*店名*/
    .box1 h1 {
        width: 20vw;
        margin-top: 5.5vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 6vw;
        font-weight: 600;
        line-height: 0.8;
        text-shadow: 5px 5px 5px dimgrey;
        /*横に1px・縦に2px・ぼかし3px・影の色#808080*/
        color: crimson;
        border: 3px solid #AA0000;
        font-family: 'Playfair Display SC', serif;
    }
    
    /*営業時間*/
    .box1 p {
        width: 20vw;
        margin-top: 6.8vw;
        padding-left: 1vw;
        font-size: 2vw;
        font-weight: 400;
        color: aliceblue;
        font-family: 'Playfair Display SC', serif;
    }
    
    main section {
        display: flex;
    }
    
    /*挨拶*/
    .box2 {
        width: 95%;
        height: 27vw;
        margin-top: 2vw;
        margin-left: auto;
        margin-bottom: 2vw;
    }
    
    .box2-title {
        width: 67vw;
        height: 27vw;
    }
    
    .box2-title h2 {
        font-size: 3vw;
        font-weight: 400;
        text-align: center;
        color: aliceblue;
        font-family: 'Playfair Display SC', serif;
    }
    
    .box2-title p {
        padding-left: 2vw;
        padding-right: 1.6vw;
        margin-top: 2vw;
        font-size: 1.2vw;
        font-weight: 100;
        line-height: 1.4;
        text-indent: 1em;
        letter-spacing: 0.1em;
        color: aliceblue;
        font-family: 'Playfair Display SC', serif;
    }
    
    .box2-title ul {
        display: flex;
        width: 68vw;
        margin-top: 3vw;
        list-style-type: none;
    }
    
    .box2-title ul li {
        width: 10vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    .box2-title ul li a {
        display: block;
        color: aliceblue;
        text-align: center;
        line-height: 3;
        text-decoration: none;
        border: 1px solid aliceblue;
        font-size: 1vw;
        font-family: 'Playfair Display SC', serif;
        transition: 1s;
    }
    
    .box2-title ul li a:hover {
       color: crimson;
        transition: 1s;
    }
    
    .box2-images {
        width: 27vw;
        height: 27vw;
    }
    
    .rotate {
        display: flex;
    }
    
    .box-move1 {
        width: 13.5vw;
        height: 13.5vw;
    }
    
    .box-move1 img {
        width: 100%;
    }
    
    .box-move2 {
        width: 13.5vw;
        height: 13.5vw;
    }
    
    .box-move2 img {
        width: 100%;
    }
    
    .box-move3 {
        width: 13.5vw;
        height: 13.5vw;
    }
    
    .box-move4 {
        width: 13.5vw;
        height: 13.5vw;
    }
    
    .box-move4 img {
        width: 100%
    }

    /*メニュー*/
    .box3 {
        width: 95%;
        height: 28vw;
        margin-left: auto;
        margin-bottom: 2vw;
    }
    
    .box3-title {
        width: 62vw;
        height: 28vw;
    }
    
    .flame3 {
        display: flex;
        width: 4vw;
        height: 4vw;
    }
    
    .flame3 img:nth-child(1){
        padding-right:46.2vw;
        margin-left: 2vw;
    }
    
    .flame3 img:nth-child(2){
        
    }
    
    .box3-title h2 {
        margin-bottom: 0.1vw;
        font-size: 3vw;
        font-weight: 400;
        text-align: center;
        color: aliceblue;
        font-family: 'Playfair Display SC', serif;
    }
    
    .box3-title p {
        font-size: 1.6vw;
        font-weight: 300;
        text-align: center;
        line-height: 1.6;
        color: aliceblue;
        font-family: 'Playfair Display SC', serif;
    }
    
    .box3-title p a {
        display: block;
        width: 14vw;
        height: 2.6vw;
        padding-top: 0.2vw;
        margin-top: 0.28vw;
        margin-left: auto;
        margin-right: auto;
        color: aliceblue;
        text-align: center;
        line-height: 1;
        text-decoration: none;
        border: 1.1px solid aliceblue;
        font-size: 2vw;
        font-family: 'Playfair Display SC', serif;
        transition: 1s;
    }
    
    .box3-title p a:hover {
        color: crimson;
        transition: 1s;
    }
    
    .box3-image {
        width: 38vw;
        height: 28vw;
        margin-left: 2vw;
    }
    
    .box3-image img {
        width: 100%;
        height: 28vw;
    }
    
    /*chef*/
    .box4 {
        width: 95%;
        height: 21vw;
        margin-left: auto;
        margin-bottom: 2vw;
    }
    
    .box4-title {
        width: 58vw;
        height: 21vw;
    }
    
    .flame4 {
        display: flex;
        width: 4vw;
        height: 4vw;
    }
    
    .flame4 img:nth-child(1){
        margin-right: 42.2vw;
        margin-left: 2vw;
    }
    
    .box4-title h2 {
        margin-bottom: 0.5vw;
        font-size: 3vw;
        font-weight: 400;
        text-align: center;
        color: aliceblue;
        font-family: 'Playfair Display SC', serif;
    }
    
    .box4-title p {
        font-size: 1.6vw;
        font-weight: 300;
        text-align: center;
        line-height: 1.6;
        color: aliceblue;
        font-family: 'Playfair Display SC', serif;
    }
    
    .box4-title p a {
        display: block;
        width: 14vw;
        height: 2.6vw;
        padding-top: 0.2vw;
        margin-top: 0.6vw;
        margin-left: auto;
        margin-right: auto;
        color: aliceblue;
        text-align: center;
        line-height: 1;
        text-decoration: none;
        border: 1.1px solid aliceblue;
        font-size: 2vw;
        font-family: 'Playfair Display SC', serif;
        transition: 1s;
    }
    
    .box4-title p a:hover {
        color: crimson;
        transition: 1s;
    }
    
    .box4-image {
        width: 42vw;
        height: 21vw;
        margin-right: 1vw;
    }
    
    .box4-image img {
        width: 100%;
        height: 21vw;
    }

    /*bar*/
    .box5 {
        width: 95%;
        height: 22vw;
        margin-left: auto;
        margin-bottom: 2vw;
    }
    
    .box5-title {
        width: 61vw;
        height: 22vw;
    }
    
    .flame5 {
        display: flex;
        width: 4vw;
        height: 4vw;
    }
    
    .flame5 img:nth-child(1){
        margin-right: 49.2vw;
    }
    
    .box5-title h2 {
        margin-bottom: 0.8vw;
        font-size: 3vw;
        font-weight: 400;
        text-align: center;
        color: aliceblue;
        font-family: 'Playfair Display SC', serif;
    }
    
    .box5-title p {
        font-size: 1.6vw;
        font-weight: 300;
        text-align: center;
        line-height: 1.6;
        color: aliceblue;
        font-family: 'Playfair Display SC', serif;
    }
    
    .box5-title p a {
        display: block;
        width: 14vw;
        height: 2.6vw;
        padding-top: 0.2vw;
        margin-top: 1.2vw;
        margin-left: auto;
        margin-right: auto;
        color: aliceblue;
        text-align: center;
        line-height: 1;
        text-decoration: none;
        border: 1.1px solid aliceblue;
        font-size: 2vw;
        font-family: 'Playfair Display SC', serif;
        transition: 1s;
    }
    
    .box5-title p a:hover {
        color: crimson;
        transition: 1s;
    }
    
    .box5-image {
        width: 39vw;
        height: 22vw;
    }
    
    .box5-image img {
        width: 100%;
        height: 22vw;
        background-image: url(../images/bar6.jpg);
    }
    

    /*pool*/
    .box6 {
        width: 95%;
        height: 22vw;
        margin-left: auto;
        margin-bottom: 2vw;
    }
    
    .box6-title {
        width: 60vw;
        height: 22vw;
    }
    
    .flame6 {
        display: flex;
        width: 4vw;
        height: 4vw;
    }
    
    .flame6 img:nth-child(1){
        margin-right: 48.2vw;
    }
    
    .box6-title h2 {
        margin-bottom: 1.3vw;
        font-size: 3vw;
        font-weight: 400;
        text-align: center;
        color: aliceblue;
        font-family: 'Playfair Display SC', serif;
    }
    
    .box6-title p {
        font-size: 1.6vw;
        font-weight: 300;
        text-align: center;
        color: aliceblue;
        font-family: 'Playfair Display SC', serif;
    }
    
    .box6-title p a {
        display: block;
        width: 14vw;
        height: 2.6vw;
        padding-top: 0.2vw;
        margin-top: 1.2vw;
        margin-left: auto;
        margin-right: auto;
        color: aliceblue;
        text-align: center;
        line-height: 1;
        text-decoration: none;
        border: 1.1px solid aliceblue;
        font-size: 2vw;
        font-family: 'Playfair Display SC', serif;
        transition: 1s;
    }
    
    .box6-title p a:hover {
        color: crimson;
        transition: 1s;
    }
    
    .box6-image {
        width: 40vw;
        height: 22vw;
    }
    
    .box6-image img {
        width: 100%;
        height: 22vw;
    }

    .box7 {
        width: 95%;
        height: 23vw;
        margin-left: auto;
        margin-bottom: 2vw;
    }
    
    .box7-title {
        width: 60vw;
        height: 23vw;
    }
    
    .flame7 {
        display: flex;
        width: 4vw;
        height: 4vw;
    }
    
    .flame7 img:nth-child(1){
        margin-right: 48.4vw;
    }
    
    .box7-title h2 {
        margin-bottom: 0.1vw;
        font-size: 3vw;
        font-weight: 400;
        text-align: center;
        color: aliceblue;
        font-family: 'Playfair Display SC', serif;
    }
    
    .box7-title p {
        font-size: 1.6vw;
        font-weight: 300;
        text-align: center;
        color: aliceblue;
        font-family: 'Playfair Display SC', serif;
    }
    
    .box7-title p a {
        display: block;
        width: 14vw;
        height: 2.6vw;
        padding-top: 0.2vw;
        margin-top: 0.4vw;
        margin-left: auto;
        margin-right: auto;
        color: aliceblue;
        text-align: center;
        line-height: 1;
        text-decoration: none;
        border: 1.1px solid aliceblue;
        font-size: 2vw;
        font-family: 'Playfair Display SC', serif;
        transition: 1s;
    }
    
    .box7-title p a:hover {
        color: crimson;
        transition: 1s;
    }

    
    .box7-title .match {
        margin-left: 13vw;
        text-align: left;
        line-height: 1.6;
    }
    
    .box7-image {
        width: 40vw;
        height: 23vw;
    }
    
    .box7-image img {
        width: 100%;
        height: 23vw;
    }
    
    /*アイコン*/
    .icon-box {
        width: 11vw;
        margin-top: 2vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    .icon-box a {
        font-size: 2.5vw;
        color: aliceblue;
        transition: 1s;
    }
    
    .icon-box a:hover {
        color: crimson;
        transition: 1s;
    }
    
    .icon-box a:nth-child(2) {
        margin-left: 0.82vw;
        margin-right: 0.82vw;
    }
    
    
    /*フッター*/
    footer {
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    
    footer p {
        text-align: center;
        font-size: 0.8vw;
        color: aliceblue;
    }
}
